body
{
	background-color: #b2077c;
}
h1 /*Заголовок*/
{
	text-shadow: -1.5px -1.5px 0 #01a595, -2px -2px 0 #01a595;
	font-family:Monotype Corsiva;
	text-align:center;
	color:#89ffe5;
	font-size: 80px;
	letter-spacing: 3px;
}
div.sanya /*Заголовок сани*/
{
	display:block;
	float: left;
	color:white;
	margin-left:50px;
	font-family:mistral;
	font-size:30px;
	text-shadow:3px 3px 0 blue, 5px 5px 0 red;
}
div.karapet   /*заголовок карапета*/
{
	display:block;
	font-family:century;
	float:left;
	color:#b0f957;
	font-size:60px;
	text-align:center;
	text-shadow:5px 0 0 black, 0 5px 0 black, -5px 0 0 black, 0 -5px 0 black;
}
div.boss
{
	display:block;
	text-align:center;
	float:left;
	margin-top:50px;
	color:#b0f957;
	font-size:45px;
	text-shadow:3px 0 0 black, 0 3px 0 black, -3px 0 0 black, 0 -3px 0 black;
}
div.vova /*Заголовок вовы*/
{
	display:block;
	font-family:mistral;
	color: yellow;
	font-size: 30px;
	letter-spacing:2px;
	position:relative;
	left:50px;
}
div.lesha /*Заголовок Лёши*/
{
	margin-top:0px;
	margin-left:70px;
	font-size:30px;
	font-family:mistral;
	color: gray;
	text-shadow: 2px 2px 5px #2eeef4, -2px -2px 5px #59f5f9, 2px -2px 5px #4bf8fc, -2px 2px 5px #21f9ff;
}
div.khtml     /*Весь блок карапета*/
{
	display:block;
	width:33%;
	float:left;
}
div.vhtml /*Весь блок вовы*/
{
	
display:  block;
float:  left;
width: 33%;
}
div.shtml /*Весь блок сани*/
{
	display: block;
	float: left;
	width: 33%;
}
div.lhtml /*весь блок Леши*/
{
	display:block;
	float: left;
	width: 33%;
}
a.lph /*фотка леши*/
{
	display: block;
	margin-left:50px;
	width: 340px;
	height: 400px;
	background:url("img/lesha.jpg") no-repeat;
	background-size: 400px 400px;
	box-shadow: 0 0 150px 10px #0e3b84;
}
a.lph:hover
{
	background:url("img/leshagif.gif") no-repeat;
	background-size:400px 400px;
	transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
a.kph /*фотка карапета*/
{
	display: block;
	float:left;
	margin-left:-100px;
	width: 600px;
	height: 800px;
	background:url("img/karapet.jpg") no-repeat;
	background-size: 600px 800px;
}
a.kph:hover
{
	background:url("img/karapetgif.gif") no-repeat;
	background-size:600px 800px;
	transform: rotate(-6deg);
}
a.sph    /*фотка сани*/
{
	display: block;
	position:relative;
	margin-top:130px;
	margin-left:70px;
	width: 240px;
	height: 400px;
	background:url("img/sanya.jpg") no-repeat;
	background-size: 240px 400px;
	box-shadow:0 0 100px 30px silver;
}
a.sph:hover
{
	background:url("img/sanyagif.gif") no-repeat;
	background-size: 240px 400px;
    transition: 1s linear;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}
.image /*фотка вовы*/
{
	display: block;
	margin-left:100px;
	width: 280px;
	height: 450px;
	background:url("img/vova.jpg") no-repeat;
	background-size: 280px 500px;
	box-shadow: 0 0 245px 50px yellow;	
}
.image:hover 
{
	background:url("img/Vovagif.gif") no-repeat;
	background-size: 280px 450px;
	transition:all 0.5s linear;
	margin-left:50px;
}